PORT=4000
AI_API_KEY="google ai api key"
AI_MODEL=""
ALLOWED_ORIGINS="http://localhost:3000"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/quizlytics"
AUTH_SECRET="your-32-character-secret-key-here"
